name: Delete Domain
on:
  repository_dispatch:
    types: [delete-domain]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Delete domain
      run: |
        echo "DOMAIN=${{ github.event.client_payload.domain }}" >> $GITHUB_ENV

        node <<'EOF'
        const fs = require("fs");
        const file = "domains/list.json";
        const d = JSON.parse(fs.readFileSync(file));
        const domain = process.env.DOMAIN;

        d.pending = d.pending.filter(x => x !== domain);
        d.active = d.active.filter(x => x !== domain);

        fs.writeFileSync(file, JSON.stringify(d,null,2));
        EOF

    - name: Commit
      run: |
        git config user.name "Auto Bot"
        git config user.email "bot@github.com"
        git add .
        git commit -m "Deleted domain" || echo "No changes"
        git push
